.vscode/**
.vscode-test/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
**/.vscode-test.*
node_modules
DEVNOTES.md
package-lock.json
screen-time-status-bar-*.*.*.vsix